In [2]:
import pandas as pd

In [3]:
# Read data from the CSV file
df = pd.read_csv("dataset/payment_fraud.csv")

In [4]:
# Get random records from dataframe
df.sample(3)

,accountAgeDays,numItems,localTime,paymentMethod,paymentMethodAgeDays,label
30616,545,1,4.524580,creditcard,0.032639,0
28430,779,1,3.954522,paypal,0.000000,0
31505,2000,1,4.921318,storecredit,1426.220139,0

In [5]:
# Payment method is non-numerical type. 
# paymentMethod feature is categorical variable
# pandas.get_dummies can convert from categoriacal to numneric

In [6]:
# wiil create additional columns
df = pd.get_dummies(df, columns=["paymentMethod"])

In [7]:
df.sample(4)

,accountAgeDays,numItems,localTime,paymentMethodAgeDays,label,paymentMethod_creditcard,paymentMethod_paypal,paymentMethod_storecredit
21727,52,1,5.040929,51.127083,0,0,0,1
26233,2000,1,4.876771,737.783333,0,1,0,0
37593,2000,5,4.505662,496.202778,0,1,0,0
34769,28,1,4.876771,0.000000,0,1,0,0

In [10]:
# Split data using test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    df.drop('label', axis=1), df['label'],test_size=0.33, random_state=17)

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
clf = LogisticRegression()
clf.fit(X_train, y_train)

LogisticRegression()

In [14]:
# Predict
y_pred = clf.predict(X_test)
print(accu)