In [2]:
import pandas as pd

In [3]:
# Read data from Th 
df = pd.read_csv("dataset/payment_fraud.csv")

In [4]:
df.sample(3)

,accountAgeDays,numItems,localTime,paymentMethod,paymentMethodAgeDays,label
30616,545,1,4.524580,creditcard,0.032639,0
28430,779,1,3.954522,paypal,0.000000,0
31505,2000,1,4.921318,storecredit,1426.220139,0